<footer>
  <p mt-8 text-xs op-30>
    <span pr-1></span>
    <a
      b-slate-link
      href="https://swdtbook.com" target="_blank"
    >
     有趣网站导航
    </a>
    <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
      href="" target="_blank"
    >
     Ai
    </a>
     <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
       target="_blank">
      编号:<span id="bianhao"></span>
    </a>
     <span px-1>|</span>
    <a
      border-b border-slate border-none hover:border-dashed
       target="_blank">
      字数:<span id="total"></span>
    </a>
    
  </p>
</footer>
